*{
    font-family: 'Noto Sans', sans-serif;
}
.header{
    background-color: #1565C0;
}

.title{
    margin-left: 670px;
    margin-top: 10px;
    font-size: 25px;
    color: white;
}
.basket{
    margin-left: 600px;
}

.backg{
    background-color: rgb(231, 231, 231);
}
.card_main{
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
.card_main2{
    border: 1px solid #D3D3D3;
}
